body{
  height: fit-content !important;
  /* overflow: scroll; */
  background: linear-gradient(rgb(0,0,0,0.5) ,rgb(0,0,0,0.5), rgb(0,0,0,0.5) ) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('https://avatars.mds.yandex.net/i?id=36b046e205e560ae9f93ab639a5534fc571d6604-5234139-images-thumbs&n=13'); */
  background-image: url("https://images.unsplash.com/photo-1717851425482-bdb309381a84?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMXx8fGVufDB8fHx8fA%3D%3D");
  font-family: Arial, sans-serif;
}
  main {
    margin: 20px auto;
    max-width: 1200px;
  }
  
  h6 {
    font-weight: bold;
  }
  
  .form-control {
    box-shadow: none;
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .me-4 {
    margin-right: 1.5rem;
  }
  
  .p-4 {
    padding: 1.5rem;
  }
  .table-responsive {
    margin: 20px 0;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center !important;
    color: #212529;
    border-collapse: collapse;
  }
  
  .thead th {
    background-color: #343a40;
    color: white;
    border: 1px solid #dee2e6;
  }
  
  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .text-center {
    text-align: center;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  .dam{
    background-color: #e9f7ef !important;
  }
  