<footer class="bg-success-subtle text-dark mt-4">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We provide innovative budgeting solutions to help you manage your finances effortlessly and achieve your financial goals.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">Home</a></li>
            <li><a href="#" class="text-dark">Create</a></li>
            <li><a href="#" class="text-dark">View</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="mailto:info@budgetlist.com" class="text-dark">adeyemiawosemo&#64;gmail.com</a></li>
            <li><a href="tel:+1234567890" class="text-dark">+19164868473</a></li>
            <li><a href="#" class="text-dark">Contact Form</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center border border-1 p-2 border-dark ">
          <p class="mb-0">&copy; 2024 BudgetList. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
