/* styles.css */
.nav-item a {
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}
nav{
    background-color: #e9f6e9 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px gold;
}
.cof{
    color:black !important;
}

.nav-item a:hover {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav .nav-item {
        width: 100%;
    }
}
/* styles.css or the specific component's CSS file */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #e9f6e9; /* Matching bg-success-subtle */
    color: #343a40; /* Dark text color */
}

footer a {
    color: #343a40;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #28a745;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 0.5rem;
}

footer .list-unstyled {
    padding-left: 0;
}

footer .list-unstyled li {
    margin-bottom: 0.5rem;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sam{
    width: 50px;
    height: 50px;
}

/* Add this to your styles.css or equivalent CSS file */
.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Use a nice font */
    font-size: 1.5rem; /* Adjust the size as needed */
    color: #333; /* Change color to your preference */
    text-decoration: none;
  }
  
  .navbar-brand .logo {
    height: 60px; /* Adjust the size of the logo */
    width: 80px; /* Adjust the size of the logo */
    margin-right: 8px;
    border-radius: 10px;
  }
  
  .navbar-brand .brand-text {
    font-weight: bold;
     color: #28a745;
  }
  
  .navbar-brand:hover .brand-text {
    color: #007bff; /* Change text color on hover */
  }
  
  .navbar-brand:hover .logo {
    transform: scale(1.1); /* Slightly increase the logo size on hover */
    transition: transform 0.2s; /* Smooth transition */
  }
  
  
  
  
  .navbar-light .navbar-brand {
    color: #333;
  }
  